# Required
PORT=3005
MONGODB_URI=mongodb://localhost:27017/your_db_name
PRIVATE_KEY=your-jwt-secret
TOKEN_EXPIRED=7d

# Optional
# SENTRY_DSN=https://xxx@xxx.ingest.sentry.io/xxx
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_PASSWORD=
